In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
total_schools = len(schools_data_complete["School ID"])
total_students = schools_data_complete["size"].sum()
total_budget = schools_data_complete["budget"].sum()
average_math = round(schools_data_complete["math_score"].mean(),6)
average_reading = round(schools_data_complete["reading_score"].mean(),5)

student_passing_math =schools_data_complete.loc[schools_data_complete["math_score"]> 70,:]
percent_passing_math =round(float(student_passing_math["math_score"].count()/total_students)*100,6)

student_passing_reading = schools_data_complete.loc[schools_data_complete["reading_score"]> 70,:]
percent_passing_reading = round(float(student_passing_math["reading_score"].count()/total_students)*100,6)

overall_passing_rate = round((student_passing_math + percent_passing_reading)/2, 6)

summary_Data = pd.DataFrame({"Total School":total_schools, "Total Students":total_students,
                            "Total Budget":total_budget, "Average Match Score":average_math,
                            "Average Reading Scoe":average_reading, "Percent Passing Math":
                            percent_passing_math, "Percent Passing Reading":percent_passing_reading, 
                            "Percent Overall Passing Rate":overall_passing_rate"})

District_summary = pd.DataFrame(summary_Data. columns = ["Total Schools", "Total Students", "Total Budget", "Average Math Score",
                                                        "Average Reading Score", "Percent Passing Math", "Percent Passing Reading",
                                                        "Percent Overall Passing Rate"])

SyntaxError: EOL while scanning string literal (<ipython-input-2-4859fb5102f4>, line 19)